html {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app {
  width: 100vw;
  height: 100vh;
}
a {
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.2s ease;
}
a:visited {
  color: var(--color-text);
}
a:hover {
  color: var(--color-link-hover);
  transition: all 0.2s ease;
}
button {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  box-shadow: 0 0 var(--shadow-blur-default) var(--shadow-spread-default) var(--color-shadow);
  background-color: var(--color-button);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  transition: all 0.2s ease;
}
button:hover {
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  background-color: var(--color-button-hover);
  transition: all 0.2s ease;
}
button.width-fixed {
  width: 128px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-overlay);
}
.popup-container {
  background-color: var(--color-container);
  padding: 64px;
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  text-align: center;
}
.title-container {
  margin-bottom: 32px;
}
.popup-title {
  font-size: 2.5em;
  font-weight: 500;
}
.popup-description {
  color: var(--color-description);
  margin-top: 8px;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}

.info-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  background-color: var(--color-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 0.3s linear fadeIn;
  animation-iteration-count: 1;
}
.info-container > h1 {
  font-size: 1.5em;
  font-weight: 500;
}
.info-wrapper {
  display: flex;
}
.info {
  display: flex;
  border-right: 1px solid var(--color-text);
  padding: 0 16px;
}
.info:first-child {
  padding-left: 0;
}
.info:last-child {
  padding-right: 0;
  border-right: none;
}
.info-value {
  width: 64px;
  margin-left: 8px;
  text-align: right;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.board-container {
  width: var(--board-width);
  height: var(--board-width);
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  background-color: var(--color-container);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.board {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.board.front {
  position: relative;
  display: block;
}
.block-slot {
  background-color: var(--color-block-slot);
  box-shadow: inset 0 0 2px 1px var(--color-shadow);
}
.block {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((var(--board-width) - 32px) / 4);
  height: calc((var(--board-width) - 32px) / 4);
  font-size: 1.75em;
  font-weight: 500;
  box-shadow: inset 0 0 8px 2px var(--color-shadow);
  transition: all 0.2s ease;
  animation: 0.3s linear fadeInDelay;
  animation-iteration-count: 1;
}

.log-container {
  position: absolute;
  bottom: 88px;
  left: 16px;
  width: 256px;
}
.log-content {
  height: 512px;
  background-color: var(--color-container);
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  overflow-y: scroll;
  padding: 16px;
  box-sizing: border-box;
}
.log-item {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.log-item:first-child {
  padding-top: 0;
}
.log-item:last-child {
  padding-bottom: 0;
}
.log-item .message {
  width: 100%;
  text-align: center;
}
.log-item .direction {
  margin-right: 8px;
}
.log-item .turn {
  flex: 1;
  text-align: right;
}
.log-item .score {
  flex: 1;
  text-align: right;
}
.log-item .position {
  margin-left: 8px;
  position: relative;
}
.log-item .position svg {
  transition: all 0.2s ease;
}
.log-item .position:hover svg {
  color: var(--color-link-hover);
  transition: all 0.2s ease;
}
.bottom-margin {
  height: 160px;
}
.position-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tooltip-container {
  z-index: 1;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 24px;
  right: 0;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--color-tooltip);
}
.prev-board {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-container);
}
.prev-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0 0 var(--shadow-blur-wide) var(--shadow-spread-wide) var(--color-shadow);
  background-color: var(--color-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 0.3s linear fadeIn;
  animation-iteration-count: 1;
}
.button-area {
  display: flex;
}
.button-area > * {
  margin-right: 16px;
}
.button-area > *:last-child {
  margin-right: 0;
}
.author-area {
  display: flex;
}
.author-area > * {
  margin-right: 16px;
}
.author-area > *:last-child {
  margin-right: 0;
}
.author-info {
  display: flex;
  align-items: center;
}
.author-info a {
  margin-left: 4px;
  padding: 3px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-text);
}
.author-info a:hover {
  border-bottom: 1px solid var(--color-link-hover);
}
a.github-button {
  margin-left: 16px;
  padding: 0;
  border: none;
}
.developer-container {
  display: flex;
}
.link-container {
  display: flex;
  align-items: center;
}
.link-icon {
  font-size: 1.5em;
}

.color-2 {
  background-color: var(--color-2);
}
.color-4 {
  background-color: var(--color-4);
}
.color-8 {
  background-color: var(--color-8);
}
.color-16 {
  background-color: var(--color-16);
}
.color-32 {
  background-color: var(--color-32);
}
.color-64 {
  background-color: var(--color-64);
}
.color-128 {
  background-color: var(--color-128);
  color: white;
}
.color-256 {
  background-color: var(--color-256);
  color: white;
}
.color-512 {
  background-color: var(--color-512);
  color: white;
}
.color-1024 {
  background-color: var(--color-1024);
  color: white;
}
.color-2048 {
  background-color: var(--color-2048);
  color: white;
}

.r0 {
  top: 0;
}
.r1 {
  top: calc((var(--board-width) - 32px) / 4 * 1);
}
.r2 {
  top: calc((var(--board-width) - 32px) / 4 * 2);
}
.r3 {
  top: calc((var(--board-width) - 32px) / 4 * 3);
}
.c0 {
  left: 0;
}
.c1 {
  left: calc((var(--board-width) - 32px) / 4 * 1);
}
.c2 {
  left: calc((var(--board-width) - 32px) / 4 * 2);
}
.c3 {
  left: calc((var(--board-width) - 32px) / 4 * 3);
}

@media (min-width: 768px) and (max-width: 991px) {
  .block {
    font-size: 1.5em;
  }
  .actions-container {
    display: block;
  }
  .button-area {
    justify-content: center;
  }
  .author-area {
    margin-top: 16px;
    justify-content: center;
  }
  .log-container {
    bottom: 128px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .block {
    font-size: 1.5em;
  }
  .info-container {
    display: block;
  }
  .info-container h1 {
    text-align: center;
  }
  .info-wrapper {
    margin-top: 16px;
    justify-content: center;
  }
  .actions-container {
    display: block;
  }
  .button-area {
    justify-content: center;
  }
  .author-area {
    margin-top: 16px;
    justify-content: center;
  }
  .log-container {
    bottom: 128px;
  }
}
@media (max-width: 575px) {
  #app {
    --board-width: 75vw;
  }
  button {
    padding: 8px;
    font-size: 0.8em;
  }
  .block {
    font-size: 1.5em;
  }
  .info-container {
    display: block;
  }
  .info-container h1 {
    text-align: center;
  }
  .info-wrapper {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .info {
    display: block;
    padding: 0 16px;
  }
  .info-value {
    width: 100%;
    margin: 8px 0 0;
  }
  .actions-container {
    display: block;
  }
  .button-area {
    justify-content: center;
  }
  .author-area {
    margin-top: 8px;
    display: block;
    font-size: 0.8em;
  }
  .author-info {
    margin: 0 0 4px;
    justify-content: flex-start;
  }
  .developer-container {
    justify-content: space-between;
  }
  .developer-container .author-info {
    margin: 0;
  }
  a.github-button {
    margin: 0;
  }
  .link-container {
    display: flex;
    justify-content: center;
  }
  .log-container {
    bottom: 128px;
  }
  .popup-container {
    padding: 32px;
  }
}