:root {
  --color-overlay: #00000044;

  --board-width: 50vh;
}
:root[color-mode="light"] {
  --color-text: black;
  --color-background: white;
  --color-container: white;
  --color-button: white;
  --color-button-hover: white;
  --color-shadow: #00000022;
  --color-block-slot: #eef0f5;
  --color-description: #5f636e;
  --color-link-hover: #777777;
  --color-tooltip: #00000044;

  --color-2: #CAF0F8;
  --color-4: #ADE8F4;
  --color-8: #90E0EF;
  --color-16: #48CAE4;
  --color-32: #00B4D8;
  --color-64: #0096C7;
  --color-128: #0077B6;
  --color-256: #023E8A;
  --color-512: #032174;
  --color-1024: #031369;
  --color-2048: #03045E;

  --shadow-blur-default: 4px;
  --shadow-spread-default: 2px;
  --shadow-blur-wide: 8px;
  --shadow-spread-wide: 4px;
}
:root[color-mode="dark"] {
  --color-text: white;
  --color-background: #2b2931;
  --color-container: #413f47;
  --color-button: #5f636e;
  --color-button-hover: #7c808d;
  --color-shadow: #00000044;
  --color-block-slot: #33313a;
  --color-description: #aaaaaa;
  --color-link-hover: #aaaaaa;
  --color-tooltip: #00000088;

  --color-2: #023E8A;
  --color-4: #03307F;
  --color-8: #03297A;
  --color-16: #032174;
  --color-32: #031A6F;
  --color-64: #031369;
  --color-128: #031064;
  --color-256: #030C5F;
  --color-512: #03085A;
  --color-1024: #030455;
  --color-2048: #03044D;

  --shadow-blur-default: 0;
  --shadow-spread-default: 0;
  --shadow-blur-wide: 0;
  --shadow-spread-wide: 0;
}